# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible
*.retry

# Logs
*.log

# OS Files
.DS_Store

# Kubernetes
kubeconfig

# Jenkins
workspace/

# IDE
.vscode/
.idea/

**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
